 .header{
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    background-color: white;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(234, 234, 234);

 }


 .left-section{
     
    
    display: flex;
    align-items: center;
 }


 .hamburger-menu{
   height: 24px;
   margin-left: 24px;
   margin-right: 25px;
 }


 .youtube-logo{
   height: 20px;
 }


 .middle-section{
   display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 600px;
    align-items: center;
 }


.searchbar{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-color: gray;
    border-radius: 2px;
    border-style: solid;
    width: 0;
}

.searchbar::placeholder{
font-family: Roboto, Arial;
font-size: 17px;
}


 .search-button{
   height: 40px;
   width: 66px;
  
   border: 1px;
   border-style: solid;
   margin-left: -1px;
   margin-right: 10px;
 }
 .search-icon{
   height: 25px;
   margin-top: 4px;
 }


 .voice-search-button{
   height: 40px;
   width: 40px;
   border-radius: 20px;
   border: none;
   background-color: rgb(241, 236, 236);
 }
 .voice-search-icon{
   height: 24px;
   margin-top: 4px;
  
 }


 .right-section{
    
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
    flex-shrink: 0;
 }
 .upload-icon{
   height: 24px;
 }
 .youtube-apps-icon{
   height: 20px;
 }
 .notification-icon{
   height: 24px;
 }
 .current-user-picture{
   height: 32px;
   border-radius: 16px;
  
 }